//- template of single article

article(class='article')&attributes({'id': 'article-' + article.article_id})
  header(class='article-header')
    h2(class='article-title')
      a(href='#') #{article.article_title}
    div(class='article-meta')
      span(class='article-created-on')
        a
          time(class='article-date-created')
          time(class='updated')&attributes({'datetime': article.article_date_created}) #{article.article_date_created}
      span(class='article-author')
        a #{article.user_name}

  div(class='article-content') #{article.article_content}
  footer(class='article-footer')
    span(class='cat-links')
      a #{article.article_category}
    span(class='tag-links')
      a #{article.article_tags}
    span(class='article-date-modified')
      a #{article.article_date_modified}