//- css文件依赖
link(rel='stylesheet', href='/mkEditor/styles/font-awesome.min.css')
link(rel='stylesheet', href='/mkEditor/styles/mkEditor.css')
//- 编辑器模板
div(class='mk-editor')
  h4 文章编辑
  div
    form(class='form-group')
      input(class='form-control article-title', placeholder='标题')&attributes({'value': (article && article.title) ? article.title : ''})
      div(class='article-meta-wrap')
        div(class='pull-left article-cat-wrap')
          div(class='pull-left')
            span 类别: 
          div(class='pull-left dropdown')
            a(id='dropdown-cat-menu', href='#', class='btn btn-default btn-xs dropdown-toggle', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', idx='0')= (article && article.category) ? article.category : '默认'
              span(class='caret')
            ul(class='dropdown-menu dropdown-cat-list', aria-labelledby='dropdown-cat-menu')
              if article && article.cat_list
                each cat in article.cat_list
                  if cat!==article.category
                    li(class='cat-item')
                      a(href='#')= cat
                  else
                    li(class='cat-item hide')
                      a(href='#')= cat
              else
                li(class='cat-item hide')
                      a(href='#')= 默认
              li(class='cat-add-link')
                a(href='#') Add...
        div(class='pull-left btn-tag-add')
          a(href='#') 添加标签
        div(class='pull-left article-tag-list')
          if article && article.tags
            each tag in article.tags
              a(class='article-tag pull-left')= tag
      div(class='pull-right article-preview')
        btn(data-toggle='modal')
          a(href='#') 预览
    div(class='article-editor-toolbar', style='clear:both')
      div(class='btn btn-default btn-xs btn-article-pic')
        span(class='fa fa-file-image-o', aria-hidden='true')
    textarea(rows='20', class='form-control article-content', placeholder='正文，请使用markdown语法编辑')= (article && article.content_raw) ? article.content_raw : ''
    div(class='pull-right')
      button(type='button', class='btn btn-default btn-editor-exit') 退出编辑
      button(type='button', class='btn btn-primary btn-editor-save') 发布文章

    //- 文章预览窗口
    div(class='modal dialog-article-preview', tagindex='-1', role='dialog', aria-hidden='true')
      div(class='modal-dialog modal-lg')
        div(class='modal-content')
          div(class='modal-body')
            p 预览内容

    //- input dialog
    div(class='modal dialog-cat-input', tagindex='-1', role='dialog', aria-hidden='true')
      div(class='modal-dialog modal-sm')
        div(class='modal-content')
          div(class='modal-body')
            input(id='cat-name', type='text', class='form-control')
            button(type='button', class='btn btn-default btn-exit', data-dismiss='modal') Cancel
            button(type='button', class='btn btn-primary btn-save') OK

    //- 上传文件窗口
    div(class='modal dialog-upload-file', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button', class='close', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') 插入图片
          div(class='modal-body')
            input(class='input-upload-img', type='file', accept='image/png,image/gif,image/jpg,image/jpeg', multiple='multiple', style='display:none')
            div(class='input-group')
              span(class='input-group-addon')
                span(class='fa fa-file-image-o')
              input(type='text', class='form-control input-img-links')
              span(class='input-group-btn')
                button(class='btn', type='button', onclick='$("input[class=input-upload-img]").click();') ...
          div(class='modal-footer')
            button(type='button', class='btn btn-default', data-dismiss='modal') 取消
            button(type='button', class='btn btn-primary btn-confirm btn-upload-img') 确定